@import url('https://rsms.me/inter/inter.css');

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 150px;
  pointer-events: none;
}

.login{
  background-color: #6cdcbb;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  float: right;
  font-family: "Inter";
}

.signup{
  background-color: #6cdcbb;
  border: none;
  color: black;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 12px;
  float: right;
  font-family: "Inter";
}

.MainText{
  font-family: 'Inter';
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.App-header {
  background-color: white;
  min-height: 80px;
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

