@import url('https://rsms.me/inter/inter.css');

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 150px;
  pointer-events: none;
  top:15px;
  left:15px;
  position: absolute;
}

.login{
  background-color: #6cdcbb;
  border: none;
  color: black;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  font-family: 'Inter';
  border-radius: 30px;
  font-weight: 800;
  top:10px;
  right:20px;
  position: absolute;
}

.signup{
  background-color: #6cdcbb;
  border: none;
  color: black;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  float: right;
  font-family: 'Inter';
  border-radius: 30px;
  font-weight: 800;
  top:80px;
  right:35px;
  position: absolute;
}

.AppStore{
  height: 50px;
  position: absolute;
  top:10px;
  right:500px;
}
.GooglePlay{
  height: 50px;
  position: absolute;
  top:10px;
  right:300px;
}

.App-header {
  background-color: white;
  min-height: 80px;
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
}

.MainText{
  font-family: 'Inter';
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  top:200px;
  left: 400px;
  position: absolute;
  display: flex;
}

.table{
top:200px;
right: 550px;
position: absolute;
display: flex;
}

.person{
  top:150px;
  right:320px;
  position: absolute;
  height: 270px;
  display: flex;
}

.line{
  height: 4px;
  width: 900px;
  background-color: #6cdcbb;
  top: 470px;
  right: 325px;
  position: absolute;
}

.SecondText{
  font-family: 'Inter';
  text-align: center;
  font-size: 25px;
  top: 500px;
  left: 600px;
  position: absolute;
}

.ThirdText{
  font-family: 'Inter';
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  top: 600px;
  left: 680px;
  position: absolute;
}

.App-link {
  color: #61dafb;
}

