@import url('https://rsms.me/inter/inter.css');




/* stary css v */

/* .App {
  text-align: center;
  height: 100%;
} */

/* .App-logo {
  height: 150px;
  pointer-events: none;
  top:15px;
  left:15px;
  position: absolute;
} */

/* .login{
  background-color: #6cdcbb;
  border: none;
  color: black;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  font-family: 'Inter';
  border-radius: 30px;
  font-weight: 800;
  top:10px;
  right:20px;
  position: absolute;
} */

/* .signup{
  background-color: #6cdcbb;
  border: none;
  color: black;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  float: right;
  font-family: 'Inter';
  border-radius: 30px;
  font-weight: 800;
  top:80px;
  right:35px;
  position: absolute;
} */

/* .AppStore{
  height: 50px;
  position: absolute;
  top:10px;
  right:500px;
}
.GooglePlay{
  height: 50px;
  position: absolute;
  top:10px;
  right:300px;
} */

/* .App-header {
  background-color: white;
  min-height: 80px;
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
} */

/* .MainText{
  font-family: 'Inter';
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  top:30%;
  left: 30%;
  position: absolute;
  display: inline-block;
} */

/* .table{
top:38%;
right: 45% ;
position: absolute;
display: inline-block;
}

.person{
  top: 35%;
  right:35%;
  position: absolute;
  height: 270px;
  display:inline-block;
} */

/* .line{
  height: 4px;
  width: 70%;
  background-color: #6cdcbb;
  top: 55%;
  right: 325px;
  position: absolute;
} */

/* .SecondText{
  font-family: 'Inter';
  text-align: center;
  font-size: 25px;
  top: 60%;
  left: 40%;
  position: absolute;
} */

/* .ThirdText{
  font-family: 'Inter';
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  top: 70%;
  left: 43%;
  position: absolute;
} */

/* .App-link {
  color: #61dafb;
} */

