/* .tableWrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* table th, table td{
    border: 1px solid rgb(108, 220, 187);
    text-align: center;
    padding: 2px 40px;
    font-size: larger;
    color: blue;
    background-color: gainsboro;
} */

/* table th {
    color: gray;
} */

/* table {
    border-collapse: collapse;
} */

input {
    padding: 5px;
    margin-right: 5px;
}

.addForm button {
    width: 100px;
    padding: 5px;
    color: white;
    background-color: green;
}

.addForm button:hover {
    cursor: pointer;
    background-color: rgb(7,62, 7);
}

/* .edit, .delete{
    border: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
} */

/* .edit {
    color: white;
    margin-right: 5px;
    background-color: blue;
}

.edit:hover {
    background-color: rgb(7, 7, 72);
} */

.delete {
    color: white;
    background-color: red;
}

.delete:hover {
    background-color: rgb(108, 8, 8);
}